@charset "UTF-8";

html{
writing-mode: vertical-rl;
-webkit-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
font-family: dnp-shuei-nshogomincho-std, higumin-rough, sans-serif;
font-weight: 400;
font-style: normal;
}
